<div class="card">
  <div class="card-header">
    Add Post
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>name:</label>
      {{post.name}}
    </div>
    <div class="form-group">
      <label>title:</label>
      {{post.title}}
    </div>
    <div class="form-group">
      <label>content:</label>
      {{post.content}}
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn" routerLink="/">Back to list</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="showDeleteDialog = !showDeleteDialog">Delete Post</button>
        <button class="btn pull-right btn-margin" [style.display]="key != null?'block':'none'"
          (click)="onEditPost()">Edit</button>
      </div>
    </div>
  </div>
</div>

<app-delete-dialog [(showPopup)]="showDeleteDialog" (delete)="onDelete($event)">
  <div class="row">
    <div class="col-md-12">Delete Dialog</div>
  </div>
</app-delete-dialog>