<h3>Settings </h3>
<div class="card-body">
    <div class="card-body">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="name">Allow Registration</label>
          <input 
            type="checkbox"
            name="allowRegistration"
            [checked]="settings.allowRegistration"
            (change)="settings.allowRegistration = !settings.allowRegistration"
            >
        </div>
        <div class="row">
            <div class="col-md-6">
              <button class="btn" routerLink="/">Back to list</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
