<div class="card">
  <div class="card-header">
    Add Post
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">name</label>
        <input 
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="post.name"
          >
      </div>
      <div class="form-group">
        <label for="title">title</label>
        <input 
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="post.title"
          >
      </div>
      <div class="form-group">
        <label for="content">content</label>
        <textarea 
          class="form-control"
          name="content"
          rows="3"
          [(ngModel)]="post.content"
        ></textarea>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn" routerLink="/">Back to list</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary pull-right" type="submit">Submit</button>
          <button class="btn pull-right btn-margin" type="button" *ngIf="post.postId!=-1"
           (click)="showDeleteDialog = !showDeleteDialog"
           >Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-delete-dialog [(showPopup)]="showDeleteDialog" (delete)="onDelete($event)">
  <div class="row">
    <div class="col-md-12">Delete Dialog</div>
  </div>
</app-delete-dialog>