<div class="row">
  <div class="col-md-6 mx-auto">
     <div class="card-body">
      <h1>Login</h1>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block" >Login</button>
      </form>
     </div>
  </div>
</div>